@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 8% 96%;
    --foreground: 220 3% 10%;
    --card: 219 8% 90%;
    --card-foreground: 220 3% 10%;
    --popover: 218 8% 88%;
    --popover-foreground: 220 3% 10%;
    --primary: 152 85% 61%;
    --primary-foreground: 0 0% 10%;
    --secondary: 218 8% 88%;
    --secondary-foreground: 220 3% 10%;
    --muted: 220 8% 80%;
    --muted-foreground: 220 3% 10%;
    --accent: 220 8% 96%;
    --accent-foreground: 220 3% 10%;
    --destructive: 0 81% 29%;
    --destructive-foreground: 0 0% 100%;
    --border: 218 8% 88%;
    --input: 218 8% 88%;
    --ring: 152 85% 61%;
    --radius: 0.5rem;
    --chart-1: 152 85% 69%;
    --chart-2: 218 8% 42%;
    --chart-3: 220 8% 50%;
    --chart-4: 220 8% 60%;
    --chart-5: 152 85% 79%;

    --sidebar-background: 220 8% 93%;
    --sidebar-foreground: 220 3% 10%;
    --sidebar-primary: 152 85% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 8% 75%;
    --sidebar-accent-foreground: 220 3% 0%;
    --sidebar-border: 218 8% 85%;
    --sidebar-ring: 152 85% 58%;
  }

  .dark:root {
    --background: 220 18% 20%;
    --foreground: 220 13% 90%;
    --card: 219 18% 15%;
    --card-foreground: 220 13% 90%;
    --popover: 218 18% 12%;
    --popover-foreground: 220 13% 90%;
    --primary: 152 95% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 18% 12%;
    --secondary-foreground: 220 13% 90%;
    --muted: 220 18% 20%;
    --muted-foreground: 220 13% 90%;
    --accent: 220 18% 20%;
    --accent-foreground: 220 13% 90%;
    --destructive: 0 91% 71%;
    --destructive-foreground: 0 0% 10%;
    --border: 218 18% 12%;
    --input: 218 18% 12%;
    --ring: 152 95% 39%;
    --radius: 0.5rem;
    --chart-1: 152 95% 39%;
    --chart-2: 218 18% 12%;
    --chart-3: 220 18% 20%;
    --chart-4: 220 18% 30%;
    --chart-5: 152 95% 49%;

    --sidebar-background: 220 18% 12%;
    --sidebar-foreground: 220 13% 90%;
    --sidebar-primary: 152 95% 31%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 18% 25%;
    --sidebar-accent-foreground: 220 13% 90%;
    --sidebar-border: 218 18% 4%;
    --sidebar-ring: 152 95% 31%;
  }
}
